src/main/resources/EmployeeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EmployeeSchema"
	xmlns:tns="http://www.example.org/EmployeeSchema" elementFormDefault="qualified">

    <element name="getEmployeeRequest" type="tns:EmployeeId"></element>

	<element name="getEmployeeResponse" type="tns:Employee"></element>

	<complexType name="Employee">
		<sequence>
			<element name="name" type="string"></element>
			<element name="employeeId" type="string"></element>
		</sequence>
	</complexType>

	<simpleType name="EmployeeId">
		<restriction base="string"></restriction>
	</simpleType>
	
</schema>