src/main/resources/EmployeeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EmployeeSchema" xmlns:tns="http://www.example.org/EmployeeSchema" elementFormDefault="qualified">

    <element name="employeeId" type="string"></element>

    <element name="firstname" type="string"></element>

    <element name="lastname" type="string"></element>

    <element name="salary" type="string"></element>
</schema>